@page "/"
@using blackjack.Structs;
<PageTitle>Blackjack</PageTitle>

<div class="container-fluid game-container-1">
    <div class="row">
        <div class="col-2 text-start text-warning">
            <div class="row">
                <small class="font-monospace opacity-75 shadow-slim text-nowrap m-0" style="color: azure;">Win Streak: @winStreak</small>
            </div>
            <div class="row">
                <small class="font-monospace opacity-75 shadow-slim text-nowrap m-0" style="color: azure;">Win Rate: @WinRate()</small>
            </div>
        </div>
        <div class="col-8">
            <div class="mt-1">
                <img src="/images/chips-and-card-decks.png" class="chip-tray mt-1" alt="Illustration of poker chips and card decks" />
            </div>
        </div>
        <div class="col-2 text-end p-0">
            <button @onclick="ToggleInstructions" class="instruction-button opacity-75 m-1 @(showInstructions ? "bi-x-lg" : "bi-info-circle-fill")">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <small class="text-warning font-monospace opacity-25 m-0" style="letter-spacing: 0.2rem;">PAYS 3 10 2</small>
        </div>
    </div>
</div>
<div class="container-fluid game-container-2 pt-3">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="row mt-4">
            <div class="col-4 d-flex justify-content-end align-items-center">
                <h6 class="m-1 fw-bold text-danger opacity-75 shadow-slim">Dealer:</h6>
                <h6 class="m-1 fw-bold text-danger opacity-75 shadow-slim">@dealerScore</h6>
            </div>
            <div class="col-4">
                <div class="d-inline-block">

                    @foreach (var card in dealerCards)
                    {
                        <div class="card-container m-2">
                            <span class="card-item display-2 @(Array.IndexOf(unicodeCards, card.Symbol) >= 13 && Array.IndexOf(unicodeCards, card.Symbol) <= 38 ? "text-danger" : "text-black")">@card.Symbol</span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                @if (string.IsNullOrEmpty(winner))
                {
                    <h2 class="m-0 fs-6 text-muted opacity-50 p-1"> - <i class="bi-suit-spade-fill fs-6"></i> - <i class="bi-suit-heart-fill fs-6 text-danger opacity-50"></i> - BlackJack - <i class="bi-suit-diamond-fill fs-6 text-danger opacity-50"></i> - <i class="bi-suit-club-fill fs-6"></i> - </h2>
                }
                else
                {
                    <h2 class="m-0 fs-6 opacity-75 p-1" style="color: antiquewhite;">@winner</h2>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-end align-items-center">
                <h6 class="m-1 fw-bold text-primary opacity-75 shadow-slim" style="color: antiquewhite;">Player:</h6>
                <h6 class="m-1 fw-bold text-primary opacity-75 shadow-slim" style="color: antiquewhite;">@playerScore</h6>
            </div>
            <div class="col-4">
                <div class="d-inline-block">
                    @foreach (var card in playerCards)
                    {
                        <div class="card-container m-2">
                            <span class="card-item display-2 @(Array.IndexOf(unicodeCards, card.Symbol) >= 13 && Array.IndexOf(unicodeCards, card.Symbol) <= 38 ? "text-danger" : "text-black")">@card.Symbol</span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center m-1">
            @if (!stay)
            {
                <button class="btn btn-sm game-button shadow-slim" @onclick="(() => DealCard(ref playerCards, PlayerTypes.Player))">Hit</button>
                <button class="btn btn-sm game-button shadow-slim" @onclick="Stay">Stand</button>
            }
            else
            {
                <button class="btn btn-sm btn-success game-button shadow-slim" @onclick="NewGame">New Game</button>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            @if (showInstructions)
            {
                <div class="d-flex align-items-center justify-content-center w-100 h-100 position-fixed top-0 start-0 bg-dark bg-opacity-50">
                    <div class="rounded shadow-sm p-3" style="color: #333; background-color: antiquewhite; border: 3px ridge Sienna;">
                        <h6>Instructions</h6>
                        <ul class="list-unstyled">
                            <li><strong>Objective:</strong> Aim for a card total near 21, but not over.</li>
                            <li><strong>Values:</strong> Cards 2-10 are at face value. Face cards are 10; Aces are 1 or 11.</li>
                            <li><strong>Deal:</strong> Players get two cards; one's hidden. The dealer gets two cards; one's shown.</li>
                            <li><strong>Play:</strong> Players 'hit' for more cards or 'stand'. Over 21 is a 'bust'.</li>
                            <li><strong>Dealer's Turn:</strong> The dealer shows the hidden card and 'hits' till they have 17+.</li>
                            <li><strong>Win:</strong> Have a higher total without busting. If the dealer busts, you win. Ties push.</li>
                        </ul>
                        <p>Dive in, play wisely, and good luck!</p>
                        <button @onclick="ToggleInstructions" class="btn btn-sm game-button shadow-slim">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private bool showInstructions = false;
    private void ToggleInstructions() => showInstructions = !showInstructions;

    string[] unicodeCards = new string[]
    {
        "🂡", "🂢", "🂣", "🂤", "🂥", "🂦", "🂧", "🂨", "🂩", "🂪", "🂫", "🂭", "🂮",  // Spades
        "🂱", "🂲", "🂳", "🂴", "🂵", "🂶", "🂷", "🂸", "🂹", "🂺", "🂻", "🂽", "🂾",  // Hearts
        "🃁", "🃂", "🃃", "🃄", "🃅", "🃆", "🃇", "🃈", "🃉", "🃊", "🃋", "🃍", "🃎",  // Diamonds
        "🃑", "🃒", "🃓", "🃔", "🃕", "🃖", "🃗", "🃘", "🃙", "🃚", "🃛", "🃝", "🃞"   // Clubs
    };

    private int totalGamesPlayed = 0;
    private int totalWins = 0;
    private const int numberOfCards = 52;
    private bool stay = false;
    private Card[] deck = new Card[numberOfCards];
    private Card[] playerCards = new Card[0];
    private Card[] dealerCards = new Card[0];
    private int playerScore = 0;
    private int dealerScore = 0;
    private string winner = string.Empty;
    private int winStreak = 0;

    private enum PlayerTypes
    {
        Dealer,
        Player
    }

    private enum Results
    {
        Unknown,
        Blackjack,
        PlayerLost,
        DealerLost
    }

    private Results result = Results.Unknown;

    protected override void OnInitialized()
    {
        base.OnInitialized(); // Add this line as a good practice.
        deck = ShuffleDeck(CreateDeck());
        NewGame(); // Deal initial cards for both player and dealer
        var cards = new Card[numberOfCards];
        var index = 0;
        for (int i = 0; i < 4; i++)
        {
            for (int j = 0; j < 13; j++)
            {
                var value = j > 9 ? 10 : j + 1;
                cards[index] = new Card(unicodeCards[j + (i * 13)], value);
                index++;
            }
        }

        Random rand = new Random();
        for (int i = cards.Length - 1; i > 0; i--)
        {
            int j = rand.Next(0, i + 1);
            Card temp = cards[i];
            cards[i] = cards[j];
            cards[j] = temp;
        }

        deck = cards;
    }

    void NewGame()
    {
        deck = ShuffleDeck(CreateDeck());
        playerCards = new Card[0];
        dealerCards = new Card[0];
        playerScore = 0;
        dealerScore = 0;
        stay = false;
        winner = string.Empty;
        result = Results.Unknown;
        DealCard(ref dealerCards, PlayerTypes.Dealer, 2);
        DealCard(ref playerCards, PlayerTypes.Player, 2);
    }

    void DealCard(ref Card[] cards, PlayerTypes playerType, int takeCards = 1)
    {
        cards = cards.Concat(deck.Take(takeCards)).ToArray();
        deck = deck.Skip(takeCards).ToArray();
        if (playerType.Equals(PlayerTypes.Player))
        {
            CalculateScore(cards, out playerScore);
            if (playerScore == 21 && cards.Length == 2)
            {
                result = Results.Blackjack;
                Stay();
            }
            else if (playerScore > 21)
            {
                result = Results.PlayerLost;
                Stay();
            }
        }
        else
        {
            if (!stay) cards[0].IsHidden = true;
            CalculateScore(cards, out dealerScore);
            if (dealerScore == 21 && cards.Length == 2 && stay)
            {
                result = Results.Blackjack;  // This now signifies either the player's or dealer's Blackjack.
            }
            else if (dealerScore > 21) result = Results.DealerLost;
        }
    }

    void CalculateScore(Card[] cards, out int score)
    {
        score = cards.Sum(c => c.Value);
        var aces = cards.Count(c => c.Value == 1 && !c.IsHidden);
        if (score + aces * 10 <= 21) score += aces * 10;
    }

    void Stay()
    {
        stay = true;
        dealerCards[0].IsHidden = false;
        if (result == Results.Unknown) DrawDealerCards();
        DetermineWinner();
    }

    void DrawDealerCards()
    {
        while (dealerScore < 17 || (dealerScore == 17 && dealerCards.Any(card => card.Value == 1)))
        {
            DealCard(ref dealerCards, PlayerTypes.Dealer);
        }
    }

    void DetermineWinner()
    {
        totalGamesPlayed++;
                
        if (result == Results.Blackjack && playerScore == 21 && playerCards.Length == 2)
        {
            winner = "Blackjack! Player wins.";
            winStreak++;
        }
        else if (result == Results.Blackjack && dealerScore == 21 && dealerCards.Length == 2)
        {
            winner = "Blackjack! Dealer wins.";
            winStreak = 0;
        }
        else if (result == Results.PlayerLost)
        {
            winner = "Player Busts! Dealer wins.";
            winStreak = 0;
        }
        else if (result == Results.DealerLost)
        {
            winner = "Dealer Busts! Player wins.";
            winStreak++;
        }
        else if (playerScore > dealerScore)
        {
            winner = "Player wins!";
            winStreak++;
        }
        else if (playerScore < dealerScore)
        {
            winner = "Dealer wins!";
            winStreak = 0;
        }
        else
        {
            winner = "Push!";
        }

        if ((playerScore > dealerScore && result != Results.PlayerLost) || result == Results.Blackjack || result == Results.DealerLost)
        {
            totalWins++; // Increment totalWins when the player wins
        }

    }

    private string WinRate()
    {
        if (totalGamesPlayed == 0) return "0%";
        return $"{((double)totalWins / totalGamesPlayed) * 100:0.0}%"; // Returns the win rate as a percentage
    }



    Card[] CreateDeck()
    {
        var cards = new Card[numberOfCards];
        var index = 0;
        for (int i = 0; i < 4; i++)
            for (int j = 0; j < 13; j++)
            {
                var value = j > 9 ? 10 : j + 1;
                cards[index] = new Card(unicodeCards[i * 13 + j], value);
                index++;
            }
        return cards;
    }

    Card[] ShuffleDeck(Card[] cards)
    {
        var random = new Random();
        for (int i = cards.Length - 1; i > 0; i--)
        {
            int j = random.Next(0, i + 1);
            Card temp = cards[i];
            cards[i] = cards[j];
            cards[j] = temp;
        }
        return cards;
    }

}
